src/workflowtest/cfg/.secrets.yaml

# Coverage.py
htmlcov/
reports/

# docs_
site/

# cruft
*.rej

# Data
*.csv*
*.dat*
*.pickle*
*.xls*
*.zip*
data/

# direnv
.envrc

# dotenv
.env

# Hypothesis
.hypothesis/

# macOS
.DS_Store

# Node.js
node_modules/

# Poetry
.venv/
dist/

# PyCharm
.idea/

# pyenv
.python-version

# pytest
.pytest_cache/

# Python
__pycache__/
*.py[cdo]

# Ruff
.ruff_cache/

# Terraform
.terraform/

# VS Code
.vscode/
